$marginAndTopValue: 65px;

.App{

	min-height:calc(100vh + 100%);
	min-height:100vh;


  @media (max-width: 768px){
    .order-sm-max-1 {
      order: 1 !important;
    }
    .order-sm-max-2 {
      order: 2 !important;
    }
  }

  .containerMarin{
    margin-top: $marginAndTopValue;
  }

  .addFormTop{
    top: $marginAndTopValue;
  }

  .hoverable:hover{
    cursor: pointer;
  }

  .infoPart{
    background: #fefefe
  }

  @media (min-width: 768px){
    .postContainer{
      flex-wrap: nowrap;
      gap:0.5rem;
    }
  }
}

@media screen and (min-width: 960px){
  .App{
    margin-left:calc(100vw - 100%)!important;
    margin-left:0;
  }
}


